/* CSS Document */

.style1 { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:24px; font-style:normal; font-weight:bold; color:#0000FF;}
.style2 { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:22px; font-style:normal; font-weight:bold; color:#0000FF;}
.style3 { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:20px; font-style:normal; font-weight:bold; color:#0000FF;}
.style4 { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:18px; font-style:normal; font-weight:normal; color:#0000FF;}
.style5 { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:16px; font-style:normal; font-weight:normal; color:#0000FF;}
.style6 { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; font-style:normal; font-weight:norman; color:#0000FF;}
